<head>
  <title>Login | The Carroll's Yes Year 2022 | Adventure | Hiking | Travel | Food</title>
</head>
<% layout('/layouts/boilerplate') %>
  <div class="container-fluid p-3 mt-1">
    <form action="/login/" method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="mb-3">
        <label class="form-label form-text">If you do not have an account create one <a
            href="/login/register">here!</a></label>
      </div>
      <button type="submit" class="btn btn-info">Sign In!</button>
    </form>
  </div>