<head>
  <title>register | The Carroll's Yes Year 2022 | Adventure | Hiking | Travel | Food</title>
</head>
<% layout('/layouts/boilerplate') %>
  <div class="container-fluid p-3 mt-1">
    <form action="/login/register" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-info">Sign up!</button>
    </form>
  </div>