<head>
  <title>The Carroll's Yes Year 2022 | Adventure | Hiking | Travel | Food</title>
</head>
<% layout('/layouts/boilerplate') %>
  <div id="intro" class="bg-image">
    <div class="container d-flex justify-content-center text-center">
    </div>
</div>

<div id="about" class="about-content">
    <div class="row g-0">
        <div class="col-3 bg-gray d-none d-md-block">
            <img class="img-fluid" src="/images/AndrewKelly.jpeg" alt="Kelly and Andrew">
        </div>
        <div class="col-12 col-md-9 bg-gray p-3">
            <h2 class="text-center font-weight-bold h1"><span class="text-primary">About Us</span></h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eos quidem accusamus deserunt
                laborum, et nemo quisquam vero eveniet voluptatum perferendis molestias, nulla reiciendis voluptas
                corporis inventore cumque ipsa ipsam commodi praesentium quae? Ab incidunt a ipsa repellendus non.
                Deserunt nostrum repellendus delectus quibusdam laudantium unde consectetur eum asperiores fuga
                velit voluptatum veritatis, perferendis minima at cum ducimus maiores, natus beatae rerum, molestiae
                sit facilis? Nam, quasi soluta? Repellendus culpa, quasi tenetur quod excepturi impedit ad quidem,
                saepe quas eius voluptatibus voluptates repudiandae. Fuga, sed modi reprehenderit, ex a dolores
                consequatur debitis quaerat voluptate amet hic nobis optio inventore quis.</p><br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, voluptatem provident amet
                veritatis porro doloribus beatae laborum delectus officia itaque inventore culpa fugit laboriosam
                ipsum dignissimos molestiae quibusdam voluptas totam ducimus ipsa, quas quisquam quaerat quidem!
                Nisi voluptatem animi fugit sunt, laudantium numquam cumque hic vero alias commodi, voluptas iste
                doloremque eaque, quibusdam cum aliquam corrupti. Minima totam veniam maiores impedit maxime
                assumenda laborum. Aperiam delectus atque quis dolorem enim quod repudiandae maxime. Culpa
                perferendis tenetur ducimus temporibus, commodi nesciunt quidem, ipsum, natus voluptatem cupiditate
                eaque. Reprehenderit saepe praesentium optio error fugiat suscipit pariatur est corporis, non
                nostrum natus id. Porro praesentium perspiciatis quaerat possimus sequi tempora cupiditate inventore
                nihil dolorum error, eligendi eveniet, numquam repellat illum voluptas minima quae omnis ipsam
                reiciendis. Sed ex qui facilis quisquam vero nemo nam neque, dicta minima aliquam. Totam tenetur
                dicta, iure laudantium provident corporis maiores eos quos modi quisquam magni fuga voluptas!</p>

        </div>
    </div>
</div>
